//COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #98e2cf;

$color-primary-lighter: #9664d4;
$color-secondary-lighter: #ff8cde;

$color-light: #ffffff;
$color-light-2: #eaeaea;
$color-light-3: #f6f6f6;
$color-light-4: #f3f3f3;

$color-light-transparent: #ffffffe6;

$color-dark: #000000;

$color-background-loading: #d6b5ff;

//FONTS

$font-headings: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;
