//COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-primary-lighter: #9664d4;
$color-secondary-lighter: #ff8cde;

$color-light: white;
$color-light-2: #eaeaea;
$color-light-3: #f6f6f6;

$color-light-transparent: #ffffffe6;

$color-dark: #000000;

//FONTS

$font-headings: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;
