/*COLORS*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-light: white;
$color-dark:black;


/*FONTS*/

$font-headings: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;