/*############################## HOME PAGE ###################################*/
//######## HEADER ######

.header {
  &__location {
    background: $color-light-2;
    width: 100%;
  }
}

.city-name {
  position: relative;
  text-align: center;
  font: normal 600 16px $font-text;
  color: #808080;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0;
  background: none;

  &::before {
    content: '\f3c5';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    height: 10px;
    width: 10px;
    left: -28px;
  }
}

.reservation {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__title {
    font: 700 23px $font-text;
    text-align: center;
    width: 60%;
    margin: 40px auto 0;
  }

  &__text {
    font: 500 16px $font-text;
    text-align: center;
    color: #8b8b8b;
    margin: 17px auto 0;
  }
}

.btn {
  @include button;

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      175deg,
      $color-secondary-lighter 20%,
      $color-primary-lighter 100%
    );
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  }
}

//###### NAV ########

.nav {
  width: 89%;
  margin: 49px auto 0;

  &__title {
    font: 500 24px $font-text;
  }

  &__list {
    counter-reset: counter-item 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    width: 100%;
    margin: 15px auto 51px;
  }
}

.list-item {
  counter-increment: counter-item 1;
  position: relative;
  display: flex;
  justify-content: start;
  background: #f3f3f3;
  box-shadow: 3px 7px 30px -9px rgba(0, 0, 0, 0.2);
  width: 97%;
  text-align: center;
  border-radius: 20px;
  margin: 17px 0;

  &:hover {
    background: #f5edff;
    box-shadow: 3px 7px 30px -9px rgba(0, 0, 0, 0.35);
  }

  &:hover .list-item__logo {
    color: #9356dc;
  }

  &::before {
    position: absolute;
    content: counter(counter-item);
    height: 23px;
    width: 23px;
    border-radius: 100%;
    background: $color-primary;
    color: $color-light;
    transform: translate(-10px, 20px);
  }

  &__logo {
    font-size: 19px;
    color: #808080;
    margin: auto 20px auto 35px;
  }

  &__name {
    font: 700 16px 'Roboto', sans-serif;
    padding: 23px 0;
    cursor: default;
  }
}

//######## RESTAURANTS ######

.restaurants {
  background: #f3f3f3;
  padding-bottom: 46px;

  &__title {
    font: normal 500 24px $font-text;
    margin: 0 auto;
    width: 89%;
    padding: 54px 0 23px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
  }
}

.card-container {
  position: relative;
  background: $color-light;
  width: 90%;
  margin: 0px auto 16px;
  border-radius: 20px;
  box-shadow: 3px 7px 30px -9px rgba(0, 0, 0, 0.2);
}

.card {
  color: $color-dark;
  text-decoration: none;

  &__link {
    color: $color-dark;
    text-decoration: none;
  }

  &__img {
    width: 100%;
    height: 174px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 17px auto;

    &--name {
      font: 500 18px $font-text;
      line-height: 1.25;
    }

    &--location {
      font: 300 17px $font-text;
    }
  }
}

.card-heart--homepage {
  position: absolute;
  font-size: 23px;
  bottom: 35px;
  right: 25px;

  &:hover {
    cursor: pointer;
  }
}

.card-heart--menupages {
  position: absolute;
  font-size: 23px;
  top: 38px;
  right: 18px;

  &:hover {
    cursor: pointer;
  }
}

.fa-heart:hover:before {
  font-family: FontAwesome;
  content: '\f004';
  background: linear-gradient(
    150deg,
    rgba(245, 118, 219, 1) 0%,
    rgba(160, 90, 220, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart 1s;
  pointer-events: none;
}

.new::after {
  position: absolute;
  content: 'Nouveau';
  width: 80px;
  top: 12px;
  right: 13px;
  background: #a1edda;
  font: 300 15px $font-text;
  text-align: center;
  padding: 6px;
}
