/*############################## RESTAURANT PAGES ###################################*/
/*//
//HEADER
//*/

.header__previous-page {
  position: absolute;
  color: $color-dark;
  left: 5%;
  top: 18px;
  height: 50px;
  width: 30px;
  font-size: 30px;
  z-index: 2;
}

/*//
//MAIN
//*/

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 1384px;
  width: 100%;
  top: -40px;
  background: #f3f3f3;
  border-radius: 30px 30px 0 0;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 37px 12px 37px 13px;

  &__name {
    font: 100 25px 'Shrikhand', sans-serif;
  }
}
.menu {
  width: 90%;
}
.menu-part {
  margin-bottom: 60px;

  &__title {
    position: relative;
    font: 100 19px $font-text;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      bottom: -12px;
      left: 0px;
      width: 49px;
      height: 4px;
      background: $color-tertiary;
    }
  }
}
.dishes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 32px 0 0 0;
  font-family: $font-text;
}
.dish-container {
  display: flex;
  justify-content: space-between;
}
.dish {
  display: flex;
  justify-content: space-between;
  background: $color-light;
  list-style: none;
  height: 76px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 3px 7px 30px -9px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    border-radius: 12px 0 0 12px;
  }

  &:hover &__name {
    width: 220px;
  }

  &:hover + &__pick {
    width: 76px;
    animation: pick 1s ease forwards;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    height: 43px;
    width: 100%;
    margin: 13px 0 0 14px;
    line-height: 1.3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    display: block;
    font-weight: 300;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
  }

  &__price {
    font-weight: 600;
    height: 100%;
    width: 46px;
    padding: 35px 48px 0 0;
  }

  &__pick {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-tertiary;
    width: 0px;
    height: 100%;
    border-radius: 0 12px 12px 0;
    overflow: hidden;
  }
}

.fa-circle-check {
  color: $color-light;
  font-size: 30px;
}

.order__btn {
  display: block;
  width: 211px;
  margin: 11px auto 0;
}

/*//
//FOOTER
//*/

.menu-footer {
  position: relative;
  top: -40px;
}
