/*############################## RESTAURANT PAGES ###################################*/

//###### HEADER ########

.header__previous-page {
  position: absolute;
  color: $color-dark;
  left: 23px;
  top: 19px;
  height: 50px;
  width: 30px;
  font-size: 21px;
  z-index: 3;
}

.header__img {
  display: block;
  width: 100%;
  height: 38vh;
  object-fit: cover;
  object-position: center;
}

//###### MAIN ########

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: -29px;
  background: #f3f3f3;
  border-radius: 35px 35px 0 0;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;

  &__name {
    font: 100 28px 'Shrikhand', sans-serif;
  }

  &__heart {
    width: 42px;
    margin: auto 0;
    padding: 0;
    cursor: pointer;
  }
}

.menu {
  width: 100%;
}
.menu-part {
  margin-bottom: 25px;

  &__title {
    position: relative;
    font: 100 16px $font-text;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;

    &:after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0px;
      width: 41px;
      height: 3px;
      background: $color-tertiary;
    }
  }
}
.dishes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 23px 0 0;
  font-family: $font-text;
}
.dish-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 93%;
  margin-bottom: 13px;
  animation: dishes-apparition 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &:hover {
    cursor: pointer;
  }

  &:hover .dish__pick {
    width: 70px;
    height: auto;

    & .fa-circle-check {
      transform: rotate(360deg);
      transition: transform 500ms ease-in-out;
    }
  }
}
.dish {
  display: flex;
  justify-content: space-between;
  background: $color-light;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
  box-shadow: 3px 7px 30px -9px rgba(0, 0, 0, 0.2);

  &__name {
    font-weight: 600;
    font-size: 18px;
    width: 90%;
    line-height: 1.3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 11px 11px 14px;
  }

  &__description {
    display: block;
    font-weight: 300;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 10px;
    font-weight: 600;
    height: 100%;
    width: 50px;
  }

  &__pick {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-tertiary;
    width: 0px;
    height: 100%;
    border-radius: 0 12px 12px 0;
    overflow: hidden;
    transition: width 500ms ease-out;
  }
}

.fa-circle-check {
  color: $color-light;
  font-size: 30px;
}

.order__btn {
  display: block;
  margin: 18px auto 91px;
  width: 50%;
}

//####### FOOTER #######

.menu-footer {
  position: relative;
  top: -40px;
}
