@mixin button {
  padding: 18px 24px;
  border-radius: 30px;
  border: none;
  margin: 30px auto 53px;
  background: linear-gradient(
    169deg,
    $color-secondary 20%,
    $color-primary 100%
  );
  font: 600 16px 'Roboto', sans-serif;
  color: $color-light;
  transition: transform 300ms;
}
