@mixin button {
  padding: 18px 24px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(150deg, rgba(245, 118, 219, 1) 0%, rgba(160, 90, 220, 1) 100%);
  font: 600 15px $font-text;
  color: $color-light;
  animation-duration: 10s;
}