/* FOOTER */

.footer {
  background: #353535;

  &__title {
    font: 100 18px $font-headings;
    color: $color-light;
    width: 86%;
    margin: 0px auto;
    padding-top: 21px;
  }
}

.footer-list {
  font-family: $font-text;
  font-weight: 400;
  width: 88%;
  margin: 16px auto 0;
  padding: 0 0 40px 0;
  line-height: 25px;

  &__item {
    list-style: none;
  }
}

.footer-link {
  text-decoration: none;
  color: $color-light-transparent;

  &:hover {
    color: $color-light;
  }
}

.footer-icon {
  width: 21px;
}

.fa-utensils {
  font-size: 15px;
}

.fa-handshake-angle {
  font-size: 13px;
}
