/*############################## LAYOUTS ###################################*/
/*//
//HEADER
//*/

.header__title{
    position: relative;
    font-family: $font-headings;
    font-size: 37px;
    height: 83px;
    width: 100%;
    padding-top: 13px;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.10);
}
