/*############################## LAYOUTS ###################################*/
/* HEADER */

.header__title {
  position: relative;
  font-family: 'Shrikhand', sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 13px 0 5px;
  z-index: 2;
}
