/*############################## HOME PAGE ###################################*/
/*//
//HEADER
//*/

.header {
  &__title {
    position: relative;
    font-family: $font-headings;
    font-size: 37px;
    height: 83px;
    width: 100%;
    padding-top: 13px;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.10);
  }


  &__location {
    background: #f3f3f3;
    height: 75px;
    text-align: center;
    font: normal 600 19px $font-text;
    padding-top: 26px;
    color: #808080;
  }
}

.fa-location-dot {
  font-size: 15px;
  margin-right: 5px;
}

.reservation {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 280px;
  padding: 29px 0 53px 0;

  &__title {
    font: 700 23px $font-text;
    text-align: center;
  }

  &__text {
    margin: 0 0 22px 0;
    font: 500 16px $font-text;
    text-align: center;
    color: #8b8b8b;
  }

  &__btn {
    padding: 18px 24px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(150deg, rgba(245, 118, 219, 1) 0%, rgba(160, 90, 220, 1) 100%);
    font: 600 15px $font-text;
    color: $color-light;

    &:hover {
      cursor: pointer;
      animation: button 1s ease forwards;
    }
  }
}

/*//
//NAV
//*/

.nav {
  height: 368px;
  width: 90%;
  margin: 21px auto 0;

  &__title {
    font: 500 23px $font-text;
    padding: 0 0 0 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    margin: 18px 0 0 0;
    padding: 0 0 0 24px;
  }
}

.list-item {
  position: relative;
  display: flex;
  justify-content: start;
  background: #f3f3f3;
  box-shadow: 3px 7px 30px -9px rgba(0, 0, 0, 0.20);
  height: 67px;
  width: 96%;
  text-align: center;
  border-radius: 20px;

  &:hover {
    background: #f5edff;
    box-shadow: 3px 7px 30px -9px rgba(0, 0, 0, 0.35);
  }

  &:hover .list-item__logo {
    color: #9356DC;
  }

  &::before {
    position: absolute;
    content: "1";
    height: 23px;
    width: 23px;
    top: 19px;
    left: -12px;
    border-radius: 100%;
    background: #9356DC;
    color: $color-light;
  }


  &__logo {
    padding: 22px 0 0 0;
    height: 20px;
    width: 60px;
    font-size: 19px;
    color: #808080;
  }

  &__name {
    font: 700 16px $font-text;
    height: 16px;
    padding: 23px 0 0 0;
    cursor: default;
  }
}

/*//
//RESTAURANTS
//*/

.restaurants {
  background: #f3f3f3;
  height: 1180px;

  &__title {
    font: normal 500 23px $font-text;
    padding: 37px 0 16px 35px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 1031px;
  }
}

.card {
  position: relative;
  background: $color-light;
  height: 230px;
  width: 82%;
  margin: 0 auto;
  border-radius: 20px;
  text-decoration: none;
  color: $color-dark;

  &__img {
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 89%;
    margin: 0 auto;


    &--name {
      font: 500 19px $font-text;
      line-height: 1.1;
    }

    &--location {
      font: 300 16px $font-text;
    }

    &--heart {
      font-size: 29px;
    }
  }
}

.fa-heart:hover:before {
  font-family: FontAwesome;
  content: "\f004";
  background: linear-gradient(150deg, rgba(245, 118, 219, 1) 0%, rgba(160, 90, 220, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart 1s;
}

.new::after {
  position: absolute;
  content: "Nouveau";
  height: 34px;
  width: 76px;
  top: 11px;
  right: 10px;
  background: #a1edda;
  font: 300 15px $font-text;
  text-align: center;
  padding-top: 8px;
}

/*//
//FOOTER
//*/

.footer {
  background: #353535;
  height: 175px;

  &__title {
    padding: 22px 0 0 35px;
    font: 100 23px $font-headings;
    color: white;
  }
}

.footer-list {
  padding: 8px 0 0 34px;
  font-family: $font-text;

  &__item {
    list-style: none;

  }
}

.footer-link {
  text-decoration: none;
  color: $color-light;

  &:hover {
    font-weight: 700;
  }
}

.footer-icon {
  width: 21px;
}

.fa-utensils {
  font-size: 20px;
}

.fa-handshake-angle {
  font-size: 15px;
}

