.loading-container {
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  z-index: 3;
  opacity: 1;
  background: $color-background-loading;
  overflow-y: hidden;
  animation: loading-spinner 2s forwards;
}

.orbit-text {
  font-family: $font-headings;
  font-size: 23px;
  border-radius: 50%;
}

.circle-orbit-container {
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
}

.inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 10px solid $color-primary;
  -webkit-animation: spin-right 3s linear infinite;
  animation: spin-right 3s linear infinite;
}

.inner-orbit-circles {
  position: absolute;
  top: -8px;
  left: 51px;
  width: 100px;
  background: $color-background-loading;
  text-align: center;
  transform: rotate(44deg);
  padding: 13px;
  border-radius: 0;
}

.middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  border: 10px solid $color-tertiary;
  -webkit-animation: spin-left 5s linear infinite;
  animation: spin-left 5s linear infinite;
}

.middle-orbit-circles {
  position: absolute;
  top: -13px;
  left: 113px;
  width: 80px;
  background: $color-background-loading;
  text-align: center;
  transform: rotate(33deg);
  padding: 6px;
  border-radius: 0;
}

.outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border-radius: 100%;
  border: 10px solid $color-secondary;
  -webkit-animation: spin-right 7s linear infinite;
  animation: spin-right 7s linear infinite;
}

.outer-orbit-circles {
  padding: 0px;
  position: absolute;
  top: -17px;
  left: 125px;
  width: 80px;
  background: $color-background-loading;
  text-align: center;
  transform: rotate(15deg);
  border-radius: 0;
}
