body {
  margin: 0;
}

.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.orbit-text {
  border-radius: 50%;
}

/* ---------- Container for the orbiting circles animation ---------- */
.circle-orbit-container {
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
.inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 7px solid rgba(0, 0, 255, 0.142);
  -webkit-animation: spin-right 8s linear infinite;
  animation: spin-right 8s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles {
  position: absolute;
  top: -8px;
  left: 51px;
  height: 40px;
  width: 80px;
  background: white;
  text-align: center;
  font-size: 24px;
  transform: rotate(15deg);
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
.middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  border: 7px solid rgba(0, 128, 0, 0.167);
  -webkit-animation: spin-left 6s linear infinite;
  animation: spin-left 6s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-circles {
  position: absolute;
  top: -7px;
  left: 113px;
  height: 21px;
  width: 55px;
  background: white;
  text-align: center;
  font-size: 24px;
  transform: rotate(10deg);
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
.outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  border-radius: 100%;
  border: 7px solid rgba(255, 0, 0, 0.086);
  -webkit-animation: spin-right 7s linear infinite;
  animation: spin-right 7s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-circles {
  position: absolute;
  top: -13px;
  left: 125px;
  height: 24px;
  width: 55px;
  background: white;
  text-align: center;
  font-size: 24px;
  transform: rotate(5deg);
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
